.gornji-banner{position: absolute;
left: 100px;}

.bg-laravel{
    background-color: #252525;
    max-width: 100%;
    overflow-x: hidden;
   
	
	background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgb(0, 0, 0) 0%,
            rgb(0, 0, 0) 25%,
            rgb(0, 0, 0) 51%,
            rgb(255, 255, 255) 10%);
    animation: AnimateBG 55s ease infinite;


    }
    @keyframes AnimateBG {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
}

button{
    background-color: transparent !important  ;
    color: black !important ;
}


.logo{
    width: 150px;
    height: auto;
    padding-left: 1rem;
}

body{
  
    background-color: #ffffff;
    max-width: 100%;
    overflow-x: hidden;
    
   
	



    

}

i{
    color: rgb(255, 0, 106) !important;
}

li{
    color: rgb(255, 0, 106) !important;
}


footer p {
  
    display: none;

}

a{
    color: rgb(255, 0, 106) !important;
}

.border-2{
border-color: white !important;
}

h3 a{
    color: black;
}


.block{
    background-color: transparent !important;
    background-image: none !;
    
}
